.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.featureSvg {
  width: 4rem;
  height: 4rem;
  stroke-width: 1.5;
  color: var(--ifm-color-primary);
}
